<div class="flex flex-col justify-center h-screen">
  <mat-card class="sm:mx-auto sm:w-full sm:max-w-md p-3 shadow-md">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <app-logo></app-logo>
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Sign Up to your account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        class="space-y-6"
        [formGroup]="signUpData"
        (ngSubmit)="handleSubmit()"
      >
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Email address</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              formControlName="email"
              autocomplete="email"
              [ngClass]="
                signUpData.get('email')?.invalid &&
                signUpData.get('email')?.touched
                  ? 'focus:ring-red-600'
                  : 'focus:ring-indigo-500'
              "
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
            <div
              *ngIf="
                signUpData.get('email')?.invalid &&
                signUpData.get('email')?.touched
              "
              class="text-xs text-red-500 pt-1"
            >
              <span *ngIf="signUpData.get('email')?.errors?.['required']"
                >Please enter mail id!</span
              >
              <span *ngIf="signUpData.get('email')?.errors?.['email']"
                >Please enter valid mail id!</span
              >
            </div>
          </div>
        </div>
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Phone</label
          >
          <div class="mt-2">
            <input
              id="phone"
              name="phone"
              formControlName="phone"
              type="text"
              autocomplete="phone"
              [ngClass]="
                signUpData.get('phone')?.invalid &&
                signUpData.get('phone')?.touched
                  ? 'focus:ring-red-600'
                  : 'focus:ring-indigo-500'
              "
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
            />
            <div
              *ngIf="
                signUpData.get('phone')?.invalid &&
                signUpData.get('phone')?.touched
              "
              class="text-xs text-red-500 pt-1"
            >
              <span *ngIf="signUpData.get('phone')?.errors?.['required']"
                >Please enter your phone number!</span
              >
              <span *ngIf="signUpData.get('phone')?.errors?.['pattern']"
                >Please enter valid phone number!</span
              >
            </div>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Password</label
            >
          </div>
          <div class="mt-2 relative">
            <input
              matInput
              id="password"
              name="password"
              formControlName="password"
              [type]="passwordHide ? 'password' : 'text'"
              autocomplete="current-password"
              [ngClass]="
                signUpData.get('password')?.invalid &&
                signUpData.get('password')?.touched
                  ? 'focus:ring-red-600'
                  : 'focus:ring-indigo-500'
              "
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
            <button
              class="h-2 w-2 absolute top-0 right-0 px-8 pt-2"
              (click)="passwordHide = !passwordHide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="passwordHide"
            >
              <mat-icon>{{
                passwordHide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <div
              *ngIf="
                signUpData.get('password')?.invalid &&
                signUpData.get('password')?.touched
              "
              class="text-xs text-error-red pt-1"
            >
              <span *ngIf="signUpData.get('password')?.errors?.['required']"
                >Please provide your password!</span
              >
              <span *ngIf="signUpData.get('password')?.errors?.['pattern']"
                >Your password must be 6-20 characters long, contain letters and
                one uppercase, numbers and special characters!</span
              >
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Confirm Password</label
            >
          </div>
          <div class="mt-2 relative">
            <input
              matInput
              id="password"
              name="password"
              formControlName="confirmPassword"
              [type]="confirmPassword ? 'password' : 'text'"
              autocomplete="current-password"
              [ngClass]="
                (signUpData.get('confirmPassword')?.invalid &&
                  signUpData.get('confirmPassword')?.touched) ||
                (signUpData.get('confirmPassword')?.touched &&
                  signUpData.hasError('doesNotMatch'))
                  ? 'focus:ring-red-600'
                  : 'focus:ring-indigo-500'
              "
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
            <button
              class="h-2 w-2 absolute top-0 right-0 px-8 pt-2"
              (click)="confirmPassword = !confirmPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="confirmPassword"
            >
              <mat-icon>{{
                confirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <div
              *ngIf="
                signUpData.get('confirmPassword')?.invalid &&
                signUpData.get('confirmPassword')?.touched
              "
              class="text-xs text-error-red pt-1"
            >
              <span
                *ngIf="signUpData.get('confirmPassword')?.errors?.['required']"
                >Please enter Confirm Password!</span
              >
            </div>
            <div
              *ngIf="
                signUpData.get('confirmPassword')?.touched &&
                signUpData.hasError('doesNotMatch')
              "
              class="text-xs text-error-red pt-1"
            >
              Password and Confirm password does not match!
            </div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex mt-3 w-full items-center justify-center border border-transparent px-8 py-3 text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Sign Up
          </button>
        </div>
      </form>
      <p class="mt-10 text-center text-sm text-gray-500">
        Don you have an account?
        <a
          routerLink="/auth/login"
          class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
          >Login</a
        >
      </p>
    </div>
  </mat-card>
</div>
