<div class="flex flex-col justify-center  h-screen">
  <mat-card class="sm:mx-auto sm:w-full sm:max-w-md p-3 shadow-md pb-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <app-logo></app-logo>
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Find Your Account
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form
        class="space-y-6"
        (ngSubmit)="handleSubmit()"
        [formGroup]="forgotPassword"
      >
        <div>
          <label
            for="emailOrPhone"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Email address or Phone</label
          >
          <div class="mt-2">
            <input
              id="emailOrPhone"
              name="emailOrPhone"
              type="text"
              autocomplete="emailOrPhone"
              formControlName="emailOrPhone"
              [ngClass]="
                forgotPassword.get('emailOrPhone')?.invalid &&
                forgotPassword.get('emailOrPhone')?.touched
                  ? 'focus:ring-red-600'
                  : 'focus:ring-indigo-500'
              "
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
            <div
              *ngIf="
                forgotPassword.get('emailOrPhone')?.invalid &&
                forgotPassword.get('emailOrPhone')?.touched
              "
              class="text-xs text-red-500 pt-1"
            >
              Please enter email or phone!
            </div>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-2">
          <button
            type="submit"
            class="flex mt-3 w-full items-center justify-center border border-transparent px-8 py-3 text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Submit
          </button>
          <a
            routerLink="/auth/login"
            class="flex mt-3 w-full items-center justify-center border border-transparent px-8 py-3 text-base font-medium text-black bg-slate-300 hover:bg-slate-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Cancel
          </a>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Back to Login?
        <a
          routerLink="/auth/login"
          class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
          >Login</a
        >
      </p>
    </div>
  </mat-card>
</div>
