<div class="p-3 sm:p-8">
  <form class="xs:min-w-[400px] md:min-w-[550px] h-[calc(100%-4rem)]">
    <input
      id="email"
      name="email"
      type="email"
      autocomplete="email"
      required
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    />
  </form>
  <div class="overflow-x-auto">
    <ul role="list" class="-my-6 divide-y divide-gray-200">
      <li *ngFor="let product of searchResult">
        <app-cart-product-card [product]="product" />
      </li>
    </ul>
  </div>
</div>
